# Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log

# Django
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment
.env
venv/
.venv/
env/
ENV/
.venv/
*.env

# VS Code
.vscode/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Migrations 
*/migrations/__pycache__/
# */migrations/*.py[cod]
# */migrations/*.py~

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml

# MyPy
.mypy_cache/
.dmypy.json
